* {
  margin: 0;
  padding: 0;
}
.index {
  overflow: hidden;
}
a {
  text-decoration: none;
}
.animate1 {
  top: -50px;
  opacity: 0;
}
.animate2,
.animate6 {
  position: relative;
  left: -600px;
  opacity: 0;
}
.animate5,
.animate9 {
  position: relative ;
  right: -600px;
  opacity: 0;
}
.animate3,
.animate4,
.animate7,
.animate8 {
  position: relative;
  top: 50px;
  opacity: 0;
}
.animate10 {
  opacity: 0;
}
.index {
  height: auto;
}
.index .nav {
  min-height: 70px;
  padding: 0 40px;
  background-color: #333;
  display: flex;
}
.index .nav .icon {
  width: 198px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.index .nav .icon img {
  width: 102px;
  height: 33px;
}
.index .nav .nav-ul {
  flex: 1;
  height: 70px;
  list-style: none;
  display: flex;
  align-items: center;
}
.index .nav .nav-ul li {
  width: 52px;
  height: 49px;
  padding-right: 20px;
}
.index .nav .nav-ul li a {
  display: block;
  width: 100%;
  line-height: 49px;
  color: #fff;
}
.index .nav .nav-right {
  width: 180px;
  height: 70px;
  display: flex;
  align-items: center;
}
.index .nav .nav-right .nav-right-icon {
  height: 34px;
  list-style: none;
  display: flex;
  align-items: center;
}
.index .nav .nav-right .nav-right-icon li {
  width: 50px;
}
.white {
  background-color: white !important;
}
.blue {
  color: #3ea3ff;
}
.height {
  height: 200px !important;
}
.height2 {
  height: 500px !important;
}
.display {
  display: block !important;
}
.body {
  width: 100%;
  height: auto;
}
.body .logo {
  width: 100%;
  min-width: 1280px;
  min-height: 700px;
  position: relative;
}
.body .logo video {
  width: 100%;
  height: 100%;
}
.body .logo .logo-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.7);
}
.body .logo .logo-title .logo-main {
  width: 100%;
  height: 470px;
  position: relative;
}
.body .logo .logo-title .logo-right {
  width: 620px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 5%;
}
.body .logo .logo-title .logo-right .logo-right-top {
  width: 320px;
  height: 112px;
  margin: 0 auto;
  text-align: center;
  color: #c3c3c3;
  padding-bottom: 20px;
}
.body .logo .logo-title .logo-right .logo-right-top p {
  font-size: 35px;
}
.body .logo .logo-title .logo-right .logo-right-mid {
  width: 620px;
  height: 80px;
  color: #c3c3c3;
}
.body .logo .logo-title .logo-right .logo-right-mid p {
  width: 320px;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
}
.body .logo .logo-title .logo-right .logo-right-botton {
  width: 320px;
  height: 112px;
  margin: 0 auto;
  margin-top: 50px;
}
.body .logo .logo-title .logo-right .logo-right-botton a {
  display: block;
  width: 290px;
  height: 62px;
  color: #fff;
  border: 1px solid #fff;
  line-height: 62px;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
.body .logo .logo-title .logo-right .logo-right-botton a:hover {
  background-color: #fff;
  color: #333;
}
.body .container {
  min-width: 1280px;
  margin: 0 auto;
  height: 330px;
}
.body .container .container-title {
  box-sizing: border-box;
  padding: 0 40px;
  height: 100%;
  display: flex;
  align-items: center;
}
.body .container .container-title .container-main {
  width: 100%;
  height: 182px;
  position: relative;
}
.body .container .container-title .container-main h2 {
  text-align: center;
  font-weight: 100;
  font-size: 56px;
  color: #333;
}
.body .container .container-title .container-main p {
  text-align: center;
  font-size: 18px;
  color: #666;
  padding: 10px 0  ;
}
.body .computed {
  width: 100%;
  height: 720px;
}
.body .computed .computed-container {
  width: 1080px;
  margin: auto;
  height: 100%;
  background-image: url("../img/index/indexCom.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.body .computed .computed-container .computed-container-video {
  position: relative;
  top: 50px;
  width: 755px;
  height: 410px;
}
.body .computed .computed-container .computed-container-video video {
  width: 100%;
  height: 100%;
}
.body .qfy {
  min-width: 1280px;
  margin: 0 auto;
  height: 579px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
}
.body .qfy .qfy-container {
  width: 100%;
  height: 499px;
  padding: 0 40px;
  display: flex;
}
.body .qfy .qfy-container .qfy-container-left,
.body .qfy .qfy-container .qfy-container-right {
  flex: 1;
  height: 100%;
}
.body .qfy .qfy-container .qfy-container-left img {
  width: 100%;
}
.body .qfy .qfy-container .qfy-container-right {
  display: flex;
  justify-content: center;
}
.body .qfy .qfy-container .qfy-container-right .qfy-container-right-msg {
  width: 497px;
  height: 100%;
}
.body .qfy .qfy-container .qfy-container-right .qfy-container-right-msg h2 {
  padding-top: 40px;
  font-size: 40px;
  font-weight: 100;
}
.body .qfy .qfy-container .qfy-container-right .qfy-container-right-msg p {
  padding-top: 30px;
  line-height: 35px;
  color: #333;
  font-weight: 300;
}
.body .qfy-title {
  width: 100%;
  height: 128px;
}
.body .qfy-title h1 {
  line-height: 59px;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: #333;
}
.body .qfy-title p {
  padding-top: 40px;
  text-align: center;
  color: #494949;
}
.body .qfy-title .qfy-icon {
  width: 920px;
  margin: 0 auto;
  padding-top: 30px;
}
.body .qfy-title .qfy-icon ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.body .qfy-title .qfy-icon ul li {
  width: 295px;
  height: 169px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.body .qfy-title .qfy-icon ul li div {
  width: 100%;
  height: 119px;
  text-align: center;
}
.body .qfy-title .qfy-icon ul li div span {
  display: block;
  height: 30px;
  padding-top: 10px;
  line-height: 30px;
  color: #494949;
  font-weight: 600;
}
.body .swiper-container {
  width: 100%;
  height: 200px;
}
.body .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.body .swiper {
  min-width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.body .swiper img {
  width: 100%;
}
.body .qfy-des {
  min-width: 1280px;
  margin: 0 auto;
  height: 800px;
  background-image: url('../img/index/indexBg.jpg');
  background-size: cover;
}
.body .qfy-des .qfy-des-container {
  width: 934px;
  height: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 30px;
}
.body .qfy-des .qfy-des-container h1 {
  height: 74px;
  line-height: 74px;
  color: #fff;
  text-align: center;
}
.body .qfy-des .qfy-des-container h1 span {
  margin: 0 auto;
  display: block;
  width: 60px;
  border-bottom: 2px solid #fff;
}
.body .qfy-des .qfy-des-container .qfy-des-container-title {
  box-sizing: border-box;
  padding-top: 30px;
  height: 56px;
}
.body .qfy-des .qfy-des-container .qfy-des-container-title span {
  display: block;
  color: #fff;
  font-size: 15px;
}
.body .qfy-des .qfy-des-container .qfy-des-container-img {
  height: 505px;
  box-sizing: border-box;
  padding-top: 50px;
}
.body .qfy-title-inner {
  width: 1180px;
  height: 70px;
  margin: 10px auto;
}
.body .qfy-title-inner h2 {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
}
.body .qfy-title-inner .line {
  display: block;
  width: 100%;
  padding-top: 20px;
  border-bottom: 2px solid #ccc;
}
.body .qfy-container-box {
  min-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 50px;
}
.body .qfy-container-box ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.body .qfy-container-box ul li {
  width: 288px;
  height: 205px;
  border: 1px solid #ccc;
}
.body .qfy-container-box ul li .img {
  height: 66px;
  text-align: center;
  position: relative;
  top: 40px;
}
.body .qfy-container-box ul li .img-des {
  height: 69px;
  color: #696969;
  font-size: 18px;
  position: relative;
  top: 60px;
}
.body .qfy-container-box ul li .img-des .img-des-one {
  line-height: 25px;
  text-align: center;
  padding-bottom: 10px;
}
.body .qfy-container-box ul li .img-des .img-des-two {
  line-height: 17px;
  text-align: center;
  font-size: 16px;
}
.body .qfy-time {
  width: 1280px;
  margin: 20px auto;
  height: 112px;
  display: flex;
  justify-content: space-around;
}
.body .qfy-time .qfy-time-one {
  width: 290px;
  height: 80px;
}
.body .qfy-time .qfy-time-one div {
  height: 35px;
  line-height: 35px;
  padding-top: 2px;
}
.body .qfy-time .qfy-time-two {
  width: 590px;
  height: 80px;
}
.body .qfy-time .qfy-time-two div {
  height: 35px;
  line-height: 35px;
  padding-top: 2px;
}
footer {
  width: 1280px;
  margin: 0 auto;
  height: 311px;
  display: flex;
  align-items: center;
}
footer .footer-box {
  flex: 1;
  height: 291px;
  display: flex;
  justify-content: space-around;
}
footer .footer-box .footer-box-left {
  width: 372px;
  height: 284px;
}
footer .footer-box .footer-box-left .footer-box-left1 {
  line-height: 22px;
  color: #27374f;
  padding-bottom: 22px;
}
footer .footer-box .footer-box-left .footer-box-left2 {
  height: 43px;
  font-size: 13px;
  color: #43515c;
  padding-bottom: 22px;
}
footer .footer-box .footer-box-right {
  width: 807px;
  height: 284px;
  display: flex;
  justify-content: space-around;
}
footer .footer-box .footer-box-right div {
  width: 150px;
  height: 255px;
  color: #27374f;
  font-weight: bold;
}
footer .footer-box .footer-box-right div ul {
  width: 100%;
  list-style: none;
  padding-top: 10px;
}
footer .footer-box .footer-box-right div ul li {
  height: 23px;
  font-size: 13px;
  margin-top: 9px;
  padding-top: 5px;
  font-weight: 400;
}
footer .footer-box .footer-box-right div ul li a {
  color: #27374f;
}
.qfy-icon li {
  transition: border 0.4s, background-color 0.4s;
}
.index .hidden {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-70px);
  transition: all 0.7s;
}
.nav-right a {
  display: block;
  width: 118px;
  height: 44px;
  border: 1px solid white;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 44px;
}
/*# sourceMappingURL=index.css.map */